.header-container {
	width: 100%;
	.header-wrapper {
		@include GothamRoundedMedium(30px);
		display: flex;
		justify-content: center;
		margin-top: 30px;
		color: #000;
		.header-title {
			width: 40%;
		}
		img {
		}
	}
}
